.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Center all content */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Set up the work container */
.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Set the size of the application images */
.work-container img {
  max-width: 100%;
  height: auto;
}

/* Set the size of the first application image to be larger */
.work-container .large {
  flex: 0 0 60%;
}

/* Set up the title for the applications */
.work-container h3, #about, #contact, #work, h1, nav, ul,li {
  margin: 10px 0 0;
  font-size: 1.2rem;
  text-align: center;
}
li{
  list-style-type: none;
}